
:root {
    --header-height: 40px;
}

.menu-bar {
    display: flex;
    background-color: #f1f1f1;
    padding: 2.5px;
    gap: 5px;
    position: fixed;
    left: 0;
    right: 0;

    & .menu-button {
        padding: 10px 15px;
        border: none;
        background-color: #bbb;
        cursor: pointer;
        transition: background-color 0.3s;

        &.active {
            background-color: #4CAF50;
            color: white;
        }
    }
}

textarea {
    margin-top: 10px;
    width: calc(100dvw - 50px);
    height: 400px;
}

.content-section {
    display: none;
    padding: 20px;
    padding-top: var(--header-height);

    &.active {
        display: block;
    }
}

#frame {
    margin: 0;
    padding: 0;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.preview {
    overflow: hidden;
    display: block;
    width: 100dvw;
    height: 100dvh;

    #frame {
        top: var(--header-height);
        width: 100dvw;
        height: calc(100dvh - var(--header-height));
    }
}

pre {
    max-width: 100dvw;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.url-container {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 20px;

    #urlDisplay {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #aaa;
        margin-right: 10px;
        overflow-wrap: break-word;
    }
    #copyButton {
        padding: 10px;
    }
}
